<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Git Masters</title>
    <link rel="stylesheet" type="text/css" href="public/cutestrap.min.css">
    <style>
      body {
        margin-top: 50px;
        margin-left: 60px;
      }
    </style>
    {% block addCss %}{% endblock %}
  </head>
  <body>

    <div id="main">

      {% block body %}{% endblock %}

    </div>

    <footer class="footer">
      <p>(c) 2016 Dark CTF</p>
    </footer>

    {% block addJs %}{% endblock %}
  </body>
</html>
