<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Git Masters</title>
    {% block addCss %}{% endblock %}
  </head>
  <body>

    <div id="main">

      {% block body %}{% endblock %}

    </div>

    <footer class="footer">
      <p>(c) 2016 <a href="https://twitter.com/sota1235">@sota1235</a></p>
    </footer>

    {% block addJs %}{% endblock %}
  </body>
</html>
