{% extends "layout.html.twig" %}

{% block body %}
<h1>We want git master!</h1>
<form method="post" action="/login">
  <input type="text" value="USERNAME" name="id">
  <input type="password" value="PASSWORD" name="password">
  <input type="submit" value="LOGIN">
</form>
{% endblock %}
